<mat-toolbar color="primary">
  <mat-icon>local_fire_department</mat-icon>
  <span>Estates</span>
</mat-toolbar>

<div class="content-wrapper">

  <button (click)="newGame()" mat-button>
    <mat-icon>add</mat-icon> New Game
  </button>

  <div class="container-wrapper">

    <div class="container">
      <mat-card
        cdkDropList
        id="market1"
        #market1List="cdkDropList"
        [cdkDropListData]="market1 | async"
        [cdkDropListConnectedTo]="[market2List, market3List]"
        (cdkDropListDropped)="drop($event)"
        class="list">
        <p class="empty-label" *ngIf="(market1 | async)?.length === 0">0/3</p>
        <app-die *ngFor="let die of market1 | async" cdkDrag [die]="die"></app-die>
      </mat-card>
    </div>

    <div class="container">
      <mat-card
        cdkDropList
        id="market2"
        #market2List="cdkDropList"
        [cdkDropListData]="market2 | async"
        [cdkDropListConnectedTo]="[market1List, market3List]"
        (cdkDropListDropped)="drop($event)"
        class="list">
        <p class="empty-label" *ngIf="(market2 | async)?.length === 0">0/3</p>
        <app-die *ngFor="let die of market2 | async" cdkDrag [die]="die"></app-die>
      </mat-card>
    </div>

    <div class="container">
      <mat-card
      cdkDropList
      id="market3"
      #market3List="cdkDropList"
      [cdkDropListData]="market3 | async"
      [cdkDropListConnectedTo]="[market1List, market2List]"
      (cdkDropListDropped)="drop($event)"
      class="list">
      <p class="empty-label" *ngIf="(market3 | async)?.length === 0">0/3</p>
      <app-die *ngFor="let die of market3 | async" cdkDrag [die]="die"></app-die>
    </mat-card>
    </div>

</div>